@import "tailwindcss";

@theme {
  --color-primary-50: #f5f3ff;
  --color-primary-100: #ede9fe;
  --color-primary-500: #8b5cf6;
  --color-primary-600: #7c3aed;
  --color-primary-700: #6d28d9;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
